.pt {
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  line-height: 1.5rem;
  color: #444;
  font-size: 14px;
}
.pt a,.pt_span_a {
  text-decoration: none;
  color: #008cba;
  cursor: pointer;
}
.pt p {
  text-align: justify;
}
.pt input,.pt select {
  padding: 0 0.5rem 0 0.5rem;
  height: 2.3rem;
  border: 1px solid #ccc;
  background-color: white;
  box-sizing: border-box;
}
.pt button {
  height: 2.3rem;
  background-color: #008cba;
  border: 0;
  cursor: pointer;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
  transition: background-color 300ms ease;
  font-size: 12px;
}
.pt button:hover {
  background-color: #007095;
}
.pt label {
  font-size: 12px;
  font-weight: bold;
}
.pt_primary {
  background-color: #43ac6a !important;
}
.pt_primary:hover {
  background-color: #358854 !important;
}
.pt_secondary {
  background-color: #ddd !important;
  color: #444 !important;
}
.pt_secondary:hover {
  background-color: #ccc !important;
}
.pt_radius {
  border-radius: 5px;
}
.pt_img_thumb {
  height: 100px;
}
.pt_img_main {
}
.pt_s {
  font-size: 12px;
}
.pt_i {
  font-style: italic;
}
.pt_b {
  font-weight: bold;
}

@media only screen and (max-width: 50em) {
  .pt {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt {
  }
}

/* atoz */

.pt_atoz {
}
.pt_atoz ul {
  list-style-type: none;
  padding: 0;
}

@media only screen and (max-width: 50em) {
  .pt_atoz {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_atoz {
  }
}

/* banner */

.pt_banner {
}
.pt_banner ul {
  list-style: none;
  border: 1px solid #ccc;
  background-color: #eee;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.pt_banner li {
  text-transform: uppercase;
}

@media only screen and (max-width: 50em) {
  .pt_banner {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_banner {
  }
}

/* featured */

.pt_featured {

}

@media only screen and (max-width: 50em) {
  .pt_featured {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_featured {
  }
}

/* menu */

.pt_menu {
}
.pt_menu ul {
  list-style-type: none;
}

@media only screen and (max-width: 50em) {
  .pt_menu {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_menu {
  }
}

/* navigation */

.pt_navigation {
}

@media only screen and (max-width: 50em) {
  .pt_navigation {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_navigation {
  }
}

/* prices */

.pt_prices {
}
.pt_prices table {
  border: 1px solid #ccc;
}
.pt_prices th {
  background-color: #eee;
}
.pt_prices tr:nth-child(even) {
  background-color: #f8f8f8;
}

@media only screen and (max-width: 50em) {
  .pt_prices {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_prices {
  }
}

/* product */

.pt_product {
}

@media only screen and (max-width: 50em) {
  .pt_product {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_product {
  }
}

/* related */

.pt_related {
}

@media only screen and (max-width: 50em) {
  .pt_related {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_related {
  }
}

/* searchfilters */

.pt_searchfilters {
}

@media only screen and (max-width: 50em) {
  .pt_searchfilters {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_searchfilters {
  }
}

/* searchform */

.pt_searchform {
}

@media only screen and (max-width: 50em) {
  .pt_searchform {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_searchform {
  }
}

/* searchresults */

.pt_searchresults {
}
.pt_searchresults hr {
  border: 1px solid #eee;
  margin-bottom: 20px;
}

@media only screen and (max-width: 50em) {
  .pt_searchresults {
  }
}

@media only screen and (min-width: 50.063em) {
  .pt_searchresults {
  }
}
